* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background-color: rgb(186, 181, 181); */
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'Open Sans', sans-serif;

}

nav {
    z-index: 5;
    background-color: transparent;
    position: relative;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav .logo {
    color: black;
    font-size: large;
    font-weight: 700;
    padding-left: 30px;
}

nav .container-header .titles {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-item {
    position: relative;
    padding-left: 40px;
    color: rgb(110, 114, 118);
    font-size: 1.2rem;
}

.title-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}


.orange::before {
    background-color: rgb(208, 134, 23);
}

.yellow::before {
    background-color: rgb(146, 178, 18);
}

.pink::before {
    background-color: rgb(235, 18, 173);
}

.green::before {
    background-color: rgb(40, 141, 12);
}

.button-register {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.button-register button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    border: none;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-size: 1rem;   
    cursor: pointer;
    font-weight: bold;
}

.button-register {
    transition: margin-right 0.3s ease-in-out;
    transition-delay: 0.2s;
    padding-left: 0px 30px 0px 0px;
}

.button-register:hover {
    box-shadow: 5px 5px rgba(211, 209, 209, 0.2);
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
    transition-delay: 0s;
}

.button-register button svg {
    margin-right: 10px;
    transition: margin-right 0.3s ease-in-out;
}

.button-register:hover button svg{
    margin-right: 1px;
}

.section-header {
    background-image: linear-gradient(to right, #f89b48, #ff7e5d, #ff5e84, #ff4ab8, #f258f2);
    height: 100vh;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}
.cercle-container{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.cercle{
    height: 50vw;
    width: 50vw;
    background-color: #fff;
    border-radius: 50%;
    
}